#background_cycler{padding:0;margin:0;height:100%;width:100%;position:absolute;top:0;left:0;z-index:-1}
#background_cycler img{position:absolute;left:0;top:0;height:100%;width:100%;z-index:1}
#background_cycler img.active{z-index:3}

#content {
  background: #000000;
  width: 90%;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  opacity: 0.7;
  border-radius: 18px;
  max-width: 400px;
  overflow: visible;
  min-height: 400px;
}

#content h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
}

.weatherStationList {
  padding: 10px 0 10px 0;
}

.weatherStationList ol {
  padding: 0;
  list-style-type: none;
}

.weatherStationElement {
  padding: 10px 0px 10px 30px;
}

.weatherStationElement:hover {
  background: #3c3c3c;
}

.weatherStationElement h3 {
  margin-top: 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

.wi {
  padding-left: 10px;
  font-size: 15px;
  color: #05c2d8;
}

.weatherStationElement span {
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
}
